body{
    height: 100%;
    width: 100%;
    background-color:rgb(55, 55, 55);
}

.logo{
    width: 12em;
}

.logo_name{
    margin-top: 2.5em;
    margin-left: -6em;
    width: 15em;
}

.list-group-flush > .list-group-item {
border-width: thin;
}

.list-group-item {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

.list-group-item:first-child {
border-top-right-radius: 2px;
}


.menuButtons{
    border: 2px solid black;
    padding: 1em;
    
}

.menuButtons:hover{
    border: 3px solid blue;
    animation-name: smoothHover;
    animation-duration: 1s;
}

.sidebar{
    height: 40em;
}

.pfp{
    width: 3em;
    border-radius: 50%;
    margin-top: 2.5em;
    border: 2px solid black;
}


@keyframes smoothHover {
    0%{
        margin-right: 2em;
    }
    50%{
        margin-right: 0.8em;
    }
    100%{
        margin-right: 0.3em;
    }
}

