body{
 background-image: linear-gradient(rgb(162, 212, 255), rgb(73, 101, 158) , rgb(17, 44, 98), rgb(0, 0, 0));
 height: 100%;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
}

.logo{
    width: 40em;
}

.img1{
    width: 12em;
    padding: 0.5em;
    border-radius: 50%;
    
    
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.running_nigga{
    position: absolute;
    animation-name: movingNigga;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes movingNigga {
    0%   {transform: rotate(0deg); left: 0px; transform: scaleX(-1);}
    25%  {transform: rotate(15deg); left: 1000px; transform: scaleX(-1);}
    50%  {transform: rotate(0deg); left: 500px;}
    75%  {transform: rotate(-15deg); left: 800px;}
    90%  {transform: rotate(-15deg); left: 100px;}
    100% {transform: rotate(0deg); left: 0px;}
}

@keyframes example {
  0%   {transform: rotate(0deg);background-color: white;}
  25%  {transform: rotate(15deg);background-color: yellow;border: 1px solid rgb(117, 117, 52);}
  50%  {transform: rotate(0deg);background-color: white;}
  75%  {transform: rotate(-15deg);background-color: yellow;border: 1px solid rgb(117, 117, 52);}
  100% {transform: rotate(0deg);background-color: white;}
}

.titleMessage{
    color: gray; 
    font-family: 'Vina Sans', sans-serif;
    font-size: 4em;
}